/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
}

.heroes-menu {
    padding: 20px;
    margin: auto;
    max-width: 1000px;

    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

