<div id="search-component">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Hero Search</mat-label>
    <input matInput #searchBox id="search-box" (input)="search(searchBox.value)"/>
    <button *ngIf="searchBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchBox.value=''; search(searchBox.value)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>